body {
    background-color: #22254b;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; 
}

.movie-container img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.movie-info h4 {
    margin: 0;
}

.movie-overview {
    position: absolute; /* 포스터 이미지 위에 위치하도록 함 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    opacity: 0; 
    visibility: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s, visibility 0.3s; /* 트랜지션 효과 */
    overflow: hidden; 
}

.movie-container:hover .movie-overview {
    opacity: 1; 
    visibility: visible; 
}